<form id="home-page" action="#">
    <div class="form-group row">
        <label  for="login">Podaj swoją nazwę</label>
        
            <input id="login" class="form-control" type="text">
       
        
            <button>Dołącz</button>
      
    </div>
</form>
<form id="chat-room">
<h1> witaj na czacie {{ login }}</h1>
</form>