@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
#chat-room{
    display: none;
    margin-top:3%;
}
body{
    background-color: sandybrown;
    width: auto;
    height: 100%;
    font-family: cursive;
    
    
}
#allPage{
  /*  border:white dotted 5px; */
    width: auto;
    padding: 15px;
  
}

#message-content{
    background-color: #F8E4DE;
}
.button-send{
    background-color:#A86D5E ;
    width: 100%;
    background-color:#A86D5E ;
    margin: 5px;
    color: bisque;
    font-family: cursive;
    font-size:large;
}
#sub{
    background-color:#A86D5E ;
    width: 40%; 
    height: auto;
    margin: 5px;
    color: bisque;
    font-family: cursive;
    font-size:large;
    
}
#sub:hover{
    background-color: #59342B;
}
.avatar1{
    width: 45px;
    height: auto;
    border-radius: 50%;
    
   
}
.avatar2{
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
   
}
.avatar2:hover{
     margin: 0.5em ; /* Increased margin since the outline expands outside the element */
    outline: solid 5px #59342B;
    transition: outline 0.2s linear;
}
.avatar2::after{
    outline: solid 5px #59342B;
}
#loginPan{
    -webkit-box-shadow: 8px 8px 24px 0px rgba(83, 68, 57, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(83, 68, 57, 1);
    box-shadow: 8px 8px 24px 0px rgba(83, 68, 57, 1);
    padding: 60px;
    text-align: center;
    margin-top: 5%;
    background-color: #ffe4c4;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#login{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #59342B;
    font-family: cursive;
  
}
.small{
    margin-bottom: 0;
}
.home-page{
   align-items: center;
}
h2{
    color: #59342B;
    font-family:cursive;
    font-weight: 300;
   
    font-size: 40px;
}
h3{
    color: #59342B;
    font-family:cursive;
    font-size: 15px;
}
#empty{
    color: #59342B;
    font-family: cursive;
    margin:5px;  
}
#logo{
    width:40%;
    
}
#activ{
    background-color: bisque;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin:0.5rem;
}
#chat-window{
    height:500px !important;
    overflow: scroll;
}
::-webkit-scrollbar{
    background: transparent;
}
::-webkit-scrollbar-thumb:hover{
    background: #A86D5E;
}
::-webkit-scrollbar-corner{
    background: transparent;
}
#status-window{
    height:500px !important;
    overflow: scroll;
   
}
.small{
    font-family:  cursive;
    font-size: 100%;
}
#napisUzytkownicy{
    font-family: cursive;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0;
    color:#553932;
}
#message-content{
    font-size: 110%;
}

@media only screen and (max-width: 900px) {
    #loginPan{
    
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    }
    #logo{
        width: 80%;
       
    }
    #wybrany{
        width: 45%;
    }
    #login{
        width:90%;
    }
   #sub{
       width:75%;
   }
}