#chat-room{
    display: none;
}
body{
    background-color: sandybrown;
    width: auto;
    height: auto;
}
#allPage{
  /*  border:white dotted 5px; */
    width: auto;
    height: auto;
    padding: 15px;
  
}

#message-content{
    background-color: #F8E4DE;
}
.button-send{
    background-color:#A86D5E ;
    width: 100%;
}
.avatar1{
    width: 45px;
    height: auto;
    border-radius: 50%;
   
}
.small{
    margin-bottom: 0;
}
.home-page{
   
}